doctype html
html
    head
        style
            include style.css
        title= title
    body
    table
        thead
            tr(class='row100 head')
                th(class='cell100')= "id"
                th(class='cell100')= "данные запроса"
                th(class='cell100')= "данные ответа"
                th(class='cell100')= "код"
                th(class='cell100')= "создание записи"
                th(class='cell100')= "урл запроса"
        each  value in table
            tr(class="row100 body") 
                td(class="cell100 column1")= value.id
                td(class="cell100 column1")= value.reqdata
                td(class="cell100 column1")= value.resdata
                td(class="cell100 column1")= value.code
                td(class="cell100 column1")= value.createdAt
                td(class="cell100 column1")= value.requrl

